{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["babel", "react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "indent": ["error", 2],
    "strict": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": ["error", "single"],
    "quote-props": ["error", "consistent-as-needed"],
    "semi": ["error", "always"],
    "no-console": "off"
  }
}
